<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>HUlk OPS</h1>
    <p>
      HULK OPS Server
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="/users/new" role="button">start &raquo;</a>
      or
      <a class="btn btn-lg btn-primary" href="/users" role="button">signup &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->
