<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>资产登记</h1>
    <p>
      在系统中录入你名下所有的设备，包括PC，笔记本电脑，手机等其他公司资产。
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="/users/new" role="button">开始登记 &raquo;</a>
      或者
      <a class="btn btn-lg btn-primary" href="/users" role="button">修改我已经登记的信息 &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->
